<div align="center">
    <nav id="navbar-scrollspy" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="#"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/hospital-4034073-3337549.png" style="height: 60px; width: 70px;"> <b style="color: darkslategray;"> Queen Mary Hospital  </b></a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="admin-signup">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="signUp">Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="signUp">Patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/applyJob">Apply Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/savepat">Admit Patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewId">View Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="main"><i class="fa fa-home"></i></a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>