<div align="center">
 
    <button class="btn btn-warning"><a routerLink="appointment"> view Status </a></button>
    <button class="btn btn-warning"><a routerLink="getpatid"> Save Id </a></button>
    <!-- <button class="btn btn-success pull-right"><a routerLink="viewdoc"> View Doctor </a></button> --> 
    <!-- <button class="btn btn-success pull-right"><a routerLink="savepat"> Save Patient </a></button> -->
          <router-outlet></router-outlet>
          <hr/>
          <button (click)="logout()" class="btn btn-secondary" id="sid"><a routerLink="">  LogOut </a></button>
  </div>