<!-- <div>
    <input type="text" name="status" [(ngModel)] = "status"/>
    <button (click) = "viewstatus()" > View Status </button>
</div> -->

<div class="card-group">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi3yxbczelXK7cyRVgU5cx7T2aVJGjlaQV8g&usqp=CAU" class="card-img-top" alt="card-group-image">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <input type="text" placeholder="Enter Id" name="status" [(ngModel)] = "status"/>
    </div>
      <div class="card-footer">
        <button class="btn btn-outline-light" (click) = "viewstatus()" > View Status </button>
      </div>
    </div>
</div>