<img src="https://img.freepik.com/premium-photo/doctor-with-stethoscope-hand-hospital-background-medical-medicine-concept_34200-278.jpg?w=2000" alt="">

<div class="card-group">
    <div class="card">
        <img src="https://www.shareicon.net/download/2015/05/08/35176_administrator_400x400.png" class="card-img-top" alt="card-group-image">
        <div class="card-footer">
            <a routerLink="/admin-login">
                <h5 class="text-muted">Admin</h5>
            </a>
        </div>
    </div>
    <div class="card">
        <img src="https://icons.iconarchive.com/icons/icons-land/medical/256/People-Doctor-Male-icon.png" class="card-img-top" alt="card-group-image">
        <div class="card-footer">
            <a routerLink="/login">
                <h5 class="text-muted">Doctor</h5>
            </a>
            <!-- <button class="btn btn-success " id="btnk1"><a routerLink="/applyJob"> Apply Job </a></button> -->
            <!-- <button class="btn btn-success " id="btnk2"><a routerLink="/viewId"> View Id </a></button> -->
        </div>
    </div>
    <div class="card">
        <img src="https://icons.iconarchive.com/icons/icons-land/medical/256/People-Patient-Male-icon.png" class="card-img-top" alt="card-group-image">
        <div class="card-footer">
            <a routerLink="/login">
                <h5 class="text-muted">Patient</h5>
            </a>
        </div>
    </div>
</div>